{%  extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock %}
{% block content %}
      <div class="container">
        <a href="{%  url 'new-driver' %}" class="btn btn-primary">Add new</a>
        <table class="table table-striped  table-hover table-bordered">
           <thead>
               <tr>
                   <th>ID</th>
                   <th>picture</th>
                   <th>Name</th>
                   <th>Blood Group</th>
                   <th>Phone no.</th>
                   <th>Email id</th>
                   <th>License no.</th>
                   <th>License valid till</th>
                   <th>Actions</th>
               </tr>
           </thead>
           <tbody>
              {%  for driver in drivers %}
                  <tr>
                    <td><a href="{% url 'view-driver' pk=driver.id %}">{{ driver.id }}</a></td>
                    <td><img src="{{ driver.picture.url }}"  width="40" height="50" alt="picture"></td>
                    <td>{{ driver.name|default_if_none:"---" }}</td>
                    <td>{{ driver.blood_group|default_if_none:"---" }}</td>
                    <td>{{ driver.phone|default_if_none:"---" }}</td>
                    <td>{{ driver.email|default_if_none:"---" }}</td>
                    <td>{{ driver.license_no|default_if_none:"---" }}</td>
                    <td>{{ driver.license_validity|default_if_none:"---" }}</td>
                    <td>
                        <a href="{% url 'update-driver' pk=driver.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete-driver' pk=driver.id %}" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
              {% endfor %}
              {% if not drivers %}
                    <tr>
                        <td colspan="8" style="text-align: center">No Data to display</td>
                    </tr>
              {% endif %}
           </tbody>
        </table>
   </div>
{% endblock %}
