{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<form method="post" action="">#}
{#    {% csrf_token %}#}
{#    <label>#}
{#        Phone number#}
{#        <input type="tel" name="mobile" required/>#}
{#    </label>#}
{#    <input type="submit" value="Submit OTP">#}
{##}
{#</form>#}
{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %}
    {%  for trip in trips %}
       <a href="{% url 'play' name=trip %}">trip</a>
    {% endfor %}
{% endblock %}
{% block js %}
{% endblock %}

