{% extends 'base.html' %}
{% block content %}
    <p>{{ driver.id }}</p>
    <p>{{ driver.name }}</p>
    <p>{{ driver.phone }}</p>
    <p>{{ driver.email }}</p>
    <p>{{ driver.license_no }}</p>
    <p>{{ driver.license_validity }}</p>
    <p>{{ driver.blood_group }}</p>
    <img src="{{ driver.picture.url }}" />
    <a href="{% url 'update-driver' pk=driver.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete-driver' pk=driver.id %}" class="btn btn-danger">Delete</a>
{% endblock %}