{% extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/card.css" %}">

{% endblock %}

{% block content %}
    <div class="container card col-lg-3 col-md-6 col-sm-8 col-12" >
      <img class="card-img-top img-fluid" src="{{ driver.picture.url }}" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title text-bold">{{ driver.name }}</h4>
            <p>
                <span class="category">Mob. No. </span>
                <span class="data">{{ driver.phone }}</span>
            </p>
            <p>
                <span class="category">Email </span>
                <span class="data">{{ driver.email }}</span>
            </p>
            <p>
                <span class="category">License No </span>
                <span class="data">{{ driver.license_no }}</span>
            </p>
            <p>
                <span class="category">Licence Valid </span>
                <span class="data">{{ driver.license_validity }}</span>
            </p>
            <p>
                <span class="category">Blood group</span>
                <span class="data">{{ driver.blood_group }}</span>
            </p>
            <a href="{% url 'update-driver' pk=driver.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete-driver' pk=driver.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}