useful_text.txt
db.sqlite3
.idea/
main_site/migrations
main_site/__pycache__
transport/__pycache__/
transport/*.pyc
transport/__init__.py
transport/__init__.pyc
views/__pycache__
main_site/views/__pycache__
files
main_site/__init__.pyc
start.sh
transport/static/
