{%  extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/plugin/timepicki.css" %}" >
     <link rel="stylesheet" href="{% static "css/form.css" %}">
{% endblock %}
{%  block content %}
     <div class="container col-lg-4 col-md-5 col-sm-8 col-12">
        <form method="POST" action="" enctype="multipart/form-data" class="form-horizontal ">{% csrf_token %}
            <fieldset>
                <legend>Give Feedback </legend>
                {% for field in form %}
                    <div class="form-group">
                       <span class="label col-lg-2 control-label" >{{ field.label_tag }}</span> <span class="field col-lg-2">{{ field }}</span>
                      {%if field.errors %}
                          <span class="text-danger">{{ field.errors|striptags }} </span>
                      {%endif%}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-info" value="Submit">
            </fieldset>
        </form>
    </div>
{%  endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/plugin/timepicki.js" %}"></script>
    <script type="text/javascript" src="{% static "js/plugin/date-time-picker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/form.js" %}"></script>
    <script type="text/javascript">
        function refreshAndClose() {
            window.opener.location.reload(true);
            window.close();
        }
    </script>
{% endblock %}

