{% extends 'base.html' %}
{% block css %}
    <style type="text/css">
      h1 {
        font-size: 1000%;
        font-weight: 900;
      }
      #error-page {
        padding-top: 5%;
        text-align: center
      }
    .container {
        margin-top: 70px;
    }
    </style>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
        <div id="error-page" class="col-md-12">
            <h1>403</h1>
            {% if exception %}
              <h2>{{ exception }}</h2>
            {% else %}
            <h2>You are not authorized to view this page</h2>
            {% endif %}
            <br>
            <a class="btn btn-primary" href="/">Return to the main page</a>
        </div>
    </div>
  </div>
{% endblock %}