{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IIITA Transport system</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
    {% block css %}
    {% endblock %}
    <style>
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0px; // remove the gap so it doesn't close
    }
    .dropdown-menu > a {
        color: white;
    }
    .dropdown-menu{
        background-color: #373a3c;
        color: white;

    }
    .navbar {
        padding: 0.2rem 1rem;
    }
    </style>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-toggleable-md navbar-light bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="
            {% ifequal user.groups.all.0.name "TransportUser" %}
                {% url 'user-home' %}
            {% endifequal %}
            {% ifequal user.groups.all.0.name "TransportStaff" %}
                {% url 'staff-home' %}
            {% endifequal %}"
      >TransportCell</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {% ifequal user.groups.all.0.name "TransportUser" %}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{%  url 'new-request' %}">Request Vehicle</a>
                  <a class="dropdown-item" href="{% url 'my-requests' %}">View Requests</a>
                </div>
              </li>
            </ul>
        {% endifequal %}
        {% ifequal user.groups.all.0.name "TransportStaff" %}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Vehicles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Maintenance</a>
                  <a class="dropdown-item" href="#">Manage Available Vehicles</a>
                  <a class="dropdown-item" href="{% url 'list-vehicles'%}">View Available Vehicles</a>
                  <a class="dropdown-item" href="{% url 'new-vehicle'%}">Add Vehicle</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Drivers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{%  url 'new-driver' %}">Add Driver</a>
                  <a class="dropdown-item" href="{%  url 'list-drivers' %}">View Drivers</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Requests
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{%  url 'new-request' %}">New Requests</a>
                  <a class="dropdown-item" href="{%  url 'list-requests' %}">View Requests</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Trips
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Scheduled Trips</a>
                  <a class="dropdown-item" href="#">Active Trips</a>
{#                  <a class="dropdown-item" href="{%  url 'new-trip'%}">Add Trips</a>#}
{#                  <a class="dropdown-item" href="{%  url 'list-trips'%}">view Trips</a>#}
                </div>
              </li>
            </ul>

        {% endifequal %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">

                {% if request.user.is_authenticated  %}
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                {% else%}
                    <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                {% endif  %}
            </div>
          </li>
        </ul>

      </div>
    </nav>
    {% block content %}
    {% endblock %}
{#    <footer class="site-footer" >#}
{##}
{#        <div class="bottom">#}
{#          <div class="container">#}
{#            <div class="row">#}
{#              <div class="col-lg-6 col-xs-12 text-lg-left text-center">#}
{#                <p class="copyright-text">#}
{#                  <span style="color:white; font-weight: 300">© TransportCell @ IIITA</span>#}
{#                  <a href="https://iiita.ac.in/">TransportCell</a>#}
{#                </p>#}
{#              </div>#}
{#              <div class="col-lg-6 col-xs-12 text-lg-right text-center">#}
{#                <ul class="list-inline">#}
{#                  <li class="list-inline-item">#}
{#                    <a href="index.html">Home</a>#}
{#                  </li>#}
{##}
{#                  <li class="list-inline-item">#}
{#                    <a href="#about">About Us</a>#}
{#                  </li>#}
{##}
{#                  <li class="list-inline-item">#}
{#                    <a href="#features">Features</a>#}
{#                  </li>#}
{##}
{#                  <li class="list-inline-item">#}
{#                    <a href="#portfolio" font color="white">Portfolio</a>#}
{#                  </li>#}
{##}
{#                  <li class="list-inline-item">#}
{#                    <a href="#team">Team</a>#}
{#                  </li>#}
{##}
{#                  <li class="list-inline-item">#}
{#                    <a href="#contact">Contact</a>#}
{#                  </li>#}
{#                </ul>#}
{#              </div>#}
{##}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#    </footer>#}
    <footer class="flex-rw">

  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">About Pavilion</h4></li>
    <li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor" itemprop="significantLink">GET TO KNOW US</a></li>
    <li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">PROMOS</a></li>
    <li><a href='/retailers/new-retailers.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">BECOME A RETAILER</a></li>

    <li><a href='/job-openings.html' itemprop="significantLink" class="generic-anchor footer-list-anchor">JOB OPENINGS</a></li>

    <li><a href='/shop/about-show-schedule' class="generic-anchor footer-list-anchor" itemprop="significantLink">EVENTS</a></li>
  </ul>
  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">The Gift Selection</h4></li>


    <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">ANGEL FIGURINES</a></li>
    <li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">HOME DECOR</a></li>
    <li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor">MUGS</a></li>
    <li><a href='/Pet-Lover/cat/id/108' class="generic-anchor footer-list-anchor">PET LOVER</a></li>
    <li><a href='/Ladies-Accessories/cat/id/117' class="generic-anchor footer-list-anchor" target="_blank">HANDBAGS & JEWELRY</a></li>
  </ul>
  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header">Please Help Me</h4></li>
    <li><a href='/shop/about-contact' class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACT</a></li>
    <li><a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li>
    <li id='find-a-store'><a href='/shop/store-locator' class="generic-anchor footer-list-anchor" itemprop="significantLink">STORE LOCATOR</a></li>
    <li id='user-registration'><a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">NEW USERS</a></li>
    <li id='order-tracking'><a href='/shop/order-status' itemprop="significantLink" class="generic-anchor footer-list-anchor">ORDER STATUS</a></li>
  </ul>
  <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
      CONNECT <span class="footer-social-small">with</span> US
      </span>
      <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="https://www.pinterest.com/paviliongift/" class="generic-anchor" target="_blank" title="Pinterest" itemprop="significantLink"><i class="fa fa-pinterest"></i></a>
      <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
      <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
      <a href="https://plus.google.com/+Paviliongift/posts" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
      </span>
  </section>
  <section class="footer-bottom-section flex-rw">
<div class="footer-bottom-wrapper">
<i class="fa fa-copyright" role="copyright">

</i> 2015 Pavilion in <address class="footer-address" role="company address">Bergen, NY</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
    </div>
    <div class="footer-bottom-wrapper">
    <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> | <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
      </div>
  </section>
</footer>
    <script type="text/javascript" src="{% static "js/tether.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>