{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IIITA Transport system</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/footer.css" %}">
    {% block css %}
    {% endblock %}
    <style>
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0px; // remove the gap so it doesn't close
    }
    .dropdown-menu > a {
        color: white;
    }
    .dropdown-menu{
        background-color: #373a3c;
        color: white;

    }
    .navbar {
        padding: 0.2rem 1rem;
    }
    </style>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-toggleable-md navbar-light bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="
            {% ifequal user.groups.all.0.name "TransportUser" %}
                {% url 'user-home' %}
            {% endifequal %}
            {% if user.groups.all.0.name == "TransportStaff" or user.groups.all.0.name == "TransportAdmin"%}
                {% url 'staff-home' %}
            {% endif %}"
      >TransportCell</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {% ifequal user.groups.all.0.name "TransportUser" %}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{%  url 'new-request' %}">Request Vehicle</a>
                  <a class="dropdown-item" href="{% url 'my-requests' %}">View Requests</a>
                </div>
              </li>
            </ul>
        {% endifequal %}
        {% if user.groups.all.0.name  == "TransportStaff" or  user.groups.all.0.name  == "TransportAdmin"%}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Vehicles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'new-maintenance' %}">Add Vehicle in Maintenance</a>
                  <a class="dropdown-item" href="{% url 'list-maintenances' %}">View Vehicles in Maintenance</a>

                  <a class="dropdown-item" href="{% url 'list-vehicles'%}">View Vehicles</a>
                  <a class="dropdown-item" href="{% url 'new-vehicle'%}">Add Vehicle</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Drivers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{%  url 'new-driver' %}">Add Driver</a>
                  <a class="dropdown-item" href="{%  url 'list-drivers' %}">View Drivers</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Request
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{%  url 'list-requests' %}">View Requests</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Announcements
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'list-announcements' %}">View Announcements</a>
                  <a class="dropdown-item" href="{% url 'new-announcement' %}">Add Announcements</a>
                </div>
              </li>
            </ul>

        {% endif %}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">

                {% if request.user.is_authenticated  %}
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                {% else%}
                    <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                {% endif  %}
            </div>
          </li>
        </ul>

      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="site-footer" >
        <div class="bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-xs-12 text-lg-left text-center">
                <p class="copyright-text">
                  <span style="color:white; font-weight: 300">© TransportCell @ IIITA</span>
                  <a href="https://iiita.ac.in/">TransportCell</a>
                </p>
              </div>
              <div class="col-lg-6 col-xs-12 text-lg-right text-center">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="
                            {% ifequal user.groups.all.0.name "TransportUser" %}
                                {% url 'user-home' %}
                            {% endifequal %}
                            {% if user.groups.all.0.name == "TransportStaff" or user.groups.all.0.name == "TransportAdmin"%}
                                {% url 'staff-home' %}
                            {% endif %}">Home</a>
                  </li>

                  <li class="list-inline-item">
                    <a href="#about">About Us</a>
                  </li>

                  <li class="list-inline-item">
                    <a href="#contact">Contact</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
    </footer>

    <script type="text/javascript" src="{% static "js/tether.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>