{% extends 'base.html' %}
{% block css %}
    <style>
    .container{
       padding: 0px;
       margin: 0px;
       margin-left: 10px;
       margin-top: 10px;
    }
    .item {
        border: 1px solid blue;
        text-align: center;
        padding: 10px;
    }
     .item:nth-child(even) {
        background-color: lightgrey;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="container col-md-6 col-lg-2 col-sm-6 col-12 ist-group table-of-contents">
      <a class="item list-group-item list-group-item-action" href="{% url 'new-request' %}">Shiv Request vehicle</a>
    </div>
{% endblock %}