{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}
{% block content %}
    <div class="loginmodal-container">
        <h1>Login</h1>
        <h6 class="error">{{ error }}</h6>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>
    </div>
{% endblock %}

