{%  extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock %}
{% block content %}
{#    <a href="{%  url 'new-vehicle' %}" class="btn btn-primary">Add new</a>#}
{#   <table class="table">#}
{#  <thead>#}
{#   <tr>#}
{#       <th>Vehicle #</th>#}
{#       <th>Registration no.</th>#}
{#       <th>Type</th>#}
{#       <th>Description</th>#}
{#       <th>Fuel Capacity</th>#}
{#       <th>Actions</th>#}
{#   </tr>#}
{#   </thead>#}
{#   <tbody>#}
{#  {%  for vehicle in vehicles %}#}
{#      <tr>#}
{#          <td><a href="{% url 'view-vehicle' pk=vehicle.id %}">{{ forloop.counter }}</a></td>#}
{#        <td>{{ vehicle.registration_no }}</td>#}
{#        <td>{{ vehicle.type }}</td>#}
{#        <td>{{ vehicle.description }}</td>#}
{#        <td>{{ vehicle.fuel_capacity}}</td>#}
{#        <td>#}
{#            <a href="{% url 'update-vehicle' pk=vehicle.id %}" class="btn btn-primary">Edit</a>#}
{#            <a href="{% url 'delete-vehicle' pk=vehicle.id %}" class="btn btn-danger">Delete</a>#}
{#        </td>#}
{#      </tr>#}
{#  {% endfor %}#}
{#  <tr>#}
{##}
{#  </tr>#}
{#  </tbody>#}
{#   </table>#}
{#     {% if not vehicles %}#}
{#          <p align="center">No data to display</p>#}
{#      {% endif %}#}
       <div class="container col-lg-12 col-md-12 col-sm-12 col-12">
        <a href="{%  url 'new-driver' %}" class="btn btn-primary">Add new</a>
        <table class="table table-striped table-responsive table-hover table-bordered">
              <thead>
                   <tr>
                       <th>Vehicle #</th>
                       <th>Registration no.</th>
                       <th>Type</th>
                       <th>Description</th>
                       <th>Fuel Capacity</th>
                       <th>Actions</th>
                   </tr>
               </thead>
           <tbody>
              {%  for driver in drivers %}
                  <tr>
                      <td><a href="{% url 'view-driver' pk=driver.id %}">{{ driver.id }}</a></td>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.date_of_birth.year }}</td>
                    <td>{{ driver.phone }}</td>
                    <td>{{ driver.email }}</td>
                    <td>{{ driver.license_no }}</td>
                    <td>{{ driver.license_validity }}</td>
                    <td>
                        <a href="{% url 'update-driver' pk=driver.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete-driver' pk=driver.id %}" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
              {% endfor %}
           </tbody>
        </table>
     {% if not vehicles %}
          <p align="center">No data to display</p>
      {% endif %}
   </div>
{% endblock %}