{%  extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock %}
{% block content %}
       <div class="container col-lg-12 col-md-12 col-sm-12 col-12">
         <a href="{%  url 'new-vehicle' %}" class="btn btn-primary">Add new</a>
         <table class="table table-striped table-responsive table-hover table-bordered">
              <thead>
                   <tr>
                       <th>Vehicle #</th>
                       <th>Registration no.</th>
                       <th>Description</th>
                       <th>Seating Capacity</th>
                       <th>Actions</th>
                   </tr>
              </thead>
              <tbody>
                {%  for vehicle in vehicles %}
                  <tr>
                    <td><a href="{% url 'view-vehicle' pk=vehicle.id %}">{{ forloop.counter }}</a></td>
                    <td>{{ vehicle.registration_no }}</td>
                    <td>{{ vehicle.description }}</td>
                    <td>{{ vehicle.seating_capacity}}</td>
                    <td>
                        <a href="{% url 'update-vehicle' pk=vehicle.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete-vehicle' pk=vehicle.id %}" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
                {% if not vehicles %}
                    <tr>
                        <td colspan="5" style="text-align: center">No Data to display</td>
                    </tr>
                {% endif %}
              </tbody>
         </table>

   </div>
{% endblock %}