{%  extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock %}
{% block content %}
      <div class="container">
        <a href="{%  url 'new-vehicle' %}" class="btn btn-primary">Add new</a>
        <table class="table table-striped  table-hover table-bordered">
           <thead>
               <tr>
                   <th>ID</th>
                   <th>picture</th>
                   <th>Nickname</th>
                   <th>Registration No.</th>
                   <th>Seating Capacity</th>
                   <th>Institute Owned</th>
                   <th>Actions</th>
               </tr>
           </thead>
           <tbody>
              {%  for vehicle in vehicles %}
                  <tr>
                    <td><a href="{% url 'view-vehicle' pk=vehicle.id %}">{{vehicle.id}}</a></td>
                    <td><img src="{{ vehicle.picture.url }}"  width="50" height="40"></td>
                    <td>{{ vehicle.nickname|default_if_none:"---" }}</td>
                    <td>{{ vehicle.registration_no }}</td>
                    <td>{{ vehicle.seating_capacity }}</td>
                    <td>{{ vehicle.is_owned }}</td>
                    <td>
                        <a href="{% url 'update-vehicle' pk=vehicle.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete-vehicle' pk=vehicle.id %}" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
              {% endfor %}
              {% if not vehicles %}
                    <tr>
                        <td colspan="8" style="text-align: center">No Data to display</td>
                    </tr>
              {% endif %}
           </tbody>
        </table>
   </div>
{% endblock %}