legend {
    text-align: center;
}
.label {
    text-align: left;
    font-size: 1.2em;
    color : black;
    margin-left: -10px;
}
.btn {
    color: white;
    background: #515E67;
    margin-bottom: 10px;
}
.btn:hover {
    background: #34383B;
    box-shadow: 1px 1px 2px #888888;
}
form {
    margin-top: 10px;
    border: 1px solid #373a3c;
    margin-bottom: 80px;
    border-radius: 2px;
    background-color: #F7F7F7;
    box-shadow: 3px 3px 5px #888888;
}
form:hover {
    box-shadow: 7px 7px 7px #888888;
}
.form-horizontal {
    padding: 20px;
}

input:focus, select:focus  {
    box-shadow: 3px 3px 3px #888;
}
textarea:focus {
    box-shadow: 3px 3px 3px #888;
}
