.container {
    /*display: inline-block;*/
    padding: 5px;
    margin:  0 auto;
}
.table {
    border: 2px solid black;
    white-space: nowrap;
}
.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
table.table-bordered > thead > tr > th{
  border:2px solid blue;
}
table.table-bordered > tbody > tr > td{
  border:1px solid blue;
}
