{%  extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{%  url 'new-request' %}" class="btn btn-primary">Add new</a>
        <table class="table table-flue table-striped  table-hover table-bordered">
              <thead class="thead">
                   <tr>
                      <th>#</th>
                      <th>User</th>
                      <th>Source</th>
                      <th>Destination</th>
                      <th>Date and Time</th>
                      <th>Description</th>
                      <th>Return journey</th>
                      <th>Request Status</th>
                      <th>Actions</th>
                   </tr>
              </thead>
              <tbody>
                    {%  for i in requests %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{request.user.username}}</td>
                            <td>{{ i.source }}</td>
                            <td>{{ i.destination }}</td>
                            <td>{{ i.date_of_journey }} {{ i.time_of_journey }}</td>
                            <td>{{ i.description }}</td>
                            <td>{{ i.is_return_journey}}</td>
                            <td>{{ i.status }}</td>
                            <td>
                                {% if i.trip.bill %}
                                    <a href="{%  url 'view-bill' pk=i.trip.bill.pk %}" class="btn btn-primary">View bill</a>
                                {% elif i.trip%}
                                    <a href="{%  url 'view-trip' pk=i.trip.pk %}" class="btn btn-success">View Trip</a>
                                {% else %}
                                    <a href="{%  url 'new-trip' pk=i.pk %}" class="btn btn-success">allot</a>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                      {% if not requests %}
                            <tr>
                                <td colspan="9" style="text-align: center">No Data to display</td>
                            </tr>
                      {% endif %}
                </tbody>
           </table>
    </div>
{% endblock %}
