{%  extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <table class="table table-flue table-responsive table-striped table-hover table-bordered">
              <thead class="thead">
                   <tr>
                      <th>#</th>
                      <th>User</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Exp. End Time</th>
                      <th>Persons</th>
                      <th>Src.</th>
                      <th>Dest.</th>
                      <th>Status</th>
                      <th>Actions</th>
                   </tr>
              </thead>
              <tbody>
                    {%  for request in requests %}
                        <tr>
                           <td><a href="{% url 'view-request' pk=request.id %}">{{ request.id }}</a></td>
                            <td>{{request.user.username}}</td>
                            <td>{{ request.start_date }}</td>
                            <td>{{ request.end_date }}</td>
                            <td>{{ request.expected_end_time }}</td>
                            <td>{{ request.no_of_persons_travelling }}</td>
                            <td>{{ request.source}}</td>
                            <td>{{ request.destination }}</td>
                            <td>{{ request.status }}</td>
                            <td>
                                <a href="{% url 'view-bill' pk=request.id %}" class="btn btn-primary">View bill</a>
                                <a href="{% url 'list-trips' pk=request.id %}" class="btn btn-success">View Trips</a>
                                <a href="{% url 'new-trip' pk=request.id %}" class="btn btn-success">Create Trip</a>

                            </td>

                        </tr>
                    {% endfor %}
                      {% if not requests %}
                            <tr>
                                <td colspan="9" style="text-align: center">No Data to display</td>
                            </tr>
                      {% endif %}
                </tbody>
           </table>
    </div>
{% endblock %}
