{%  extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{%  url 'new-request' %}" class="btn btn-primary">Add new</a>
        <table class="table table-flue  table-striped table-hover table-bordered">
              <thead class="thead">
                   <tr>
                      <th>#</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Exp. End Time</th>
                      <th>Persons</th>
                      <th>Src.</th>
                      <th>Dest.</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th>Actions</th>
                   </tr>
              </thead>
              <tbody>
                    {%  for request in requests %}
                        <tr>
                           <td><a href="{% url 'view-request' pk=request.id%}">{{ request.id }}</a></td>
                            <td>{{ request.start_date }}</td>
                            <td>{{ request.end_date }}</td>
                            <td>{{ request.expected_end_time }}</td>
                            <td>{{ request.no_of_persons_travelling }}</td>
                            <td>{{ request.source}}</td>
                            <td>{{ request.destination }}</td>
                            <td>{{request.request_type}}</td>
                            <td>{{request.status}}</td>
                            <td>
                                {% if not request.bill and request.status.type == 'Request Approved'%}
                                <a href="{% url 'list-user-trips' pk=request.id %}" class="btn btn-primary">Trips</a>
                                {% elif request.status.type == 'Request Approved'%}
                                 <a href="{% url 'view-bill' pk=request.id %}" class="btn btn-primary">Bill/a>
                                {% endif %}
                                <a href="{% url 'cancel-request' pk=request.id %}" class="btn btn-success">Cancel</a>

                        </tr>
                    {% endfor %}
                      {% if not requests %}
                            <tr>
                                <td colspan="9" style="text-align: center">No Data to display</td>
                            </tr>
                      {% endif %}
                </tbody>
           </table>
    </div>
{% endblock %}
