{% extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/card.css" %}">
    <style>
        table.table-bordered > tbody > tr > td{
            border:2px solid white;
            text-align: center;
            max-width: 150px;
            overflow: auto;
        }
    </style>
{% endblock %}
{% block content %}
      <div class="container card col-lg-3 col-md-6 col-sm-8 col-12" >
        <div class="card-block">
           <table class="table  table-hover table-bordered">
                <tr>
                    <th>Requisitioner</th>
                    <td>{{ request.user.username }}</td>
                </tr>
                <tr>
                    <th>Purpose</th>
                    <td>{{ request.request_type }}</td>
                </tr>
               <tr>
                    <th>Source</th>
                    <td>{{ request.source }}</td>
               </tr>
               <tr>
                    <th>Start time</th>
                    <td>{{ request.start_time }}</td>
                </tr>
               <tr>
                    <th>start date</th>
                    <td>{{ request.start_date}}</td>
               </tr>
               <tr>
                    <th>Destination</th>
                    <td>{{ request.destination }}</td>
                </tr>
                <tr>
                    <th>Expected end time</th>
                    <td>{{ request.expected_end_time }}</td>
                </tr>
                <tr>
                    <th>End date</th>
                    <td>{{ request.end_date}}</td>
                </tr>



                <tr>
                    <th>Round trip ?</th>
                    <td>{{ request.is_round_trip}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ request.description }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ request.status }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

