{%  extends 'base.html' %}
{% block content %}
    <table class="table">
  <thead>
    <tr>
        <th>#</th>
        <th>User</th>
        <th>Date of journey</th>
        <th>Time of journey</th>
        <th>Type</th>
        <th>description</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Return journey</th>
    </tr>
  </thead>
  <tbody>
  {%  for req in requests %}
      <tr>
        <td>{{ req.id }}</td>
        <td>{{ req.user }}</td>
        <td>{{ req.date_of_journey }}</td>
        <td>{{ req.time_of_journey }}</td>
        <td>{{ req.request_type }}</td>
        <td>{{ req.description }}</td>
        <td>{{ req.source }}</td>
        <td>{{ req.destination }}</td>
        <td>{{ req.is_return_journey }}</td>
        <td>{{ req.request_status }}</td>
        {% if str(req.request_status) == 'Pending'%}
            <td><a href="{% url 'allot_vehicle' pk=req.id %}" class="btn btn-primary">Allot</a></td>
        {% endif %}
      </tr>
  {% endfor %}
  <tr>

  </tr>
  </tbody>
{%  endblock %}