{%  extends 'base.html' %}
{% block content %}
   <table class="table">
  <thead>
   <tr>
       <th>Request #</th>
       <th>User</th>
       <th>Date of journey</th>
       <th>Time ofjourney</th>
       <th>Type</th>
       <th>Description</th>
       <th>Request status</th>
       <th>Source</th>
       <th>Destination</th>
       <th>Return journey</th>
   </tr>
   </thead>
   <tbody>
  {%  for req in requests %}
      <tr>
          <td><a href="{% url 'view-request' pk=req.id %}">{{ req.id }}</a></td>
        <td>{{ req.user.username }}</td>
        <td>{{ req.date_of_journey }}</td>
        <td>{{ req.time_of_journey }}</td>
        <td>{{ req.request_type }}</td>
        <td>{{ req.description }}</td>
        <td>{{ req.request_status }}</td>
        <td>{{ req.source}}</td>
        <td>{{ req.destination}}</td>
        <td>{{ req.is_return_journey}}</td>
        {% if req.request_status == "Pending" %}
          <td>
          </td>
        {% else %}
            <td>
            </td>
        {% endif %}
      </tr>
  {% endfor %}
  <tr>

  </tr>
  </tbody>
   </table>
     {% if not requests %}
          <p align="center">No data to display</p>
      {% endif %}
{% endblock %}