{%  extends 'base.html' %}
{% block content %}
    <p align="center">Pending requests</p>
   <table class="table">
    <thead>
   <tr>
       <th>Request #</th>
       <th>User</th>
       <th>Date of journey</th>
       <th>Time ofjourney</th>
       <th>Type</th>
       <th>Description</th>
       <th>Request status</th>
       <th>Source</th>
       <th>Destination</th>
       <th>Round Trip</th>
       <th>Actions</th>
   </tr>
   </thead>
   <tbody>
  {%  for req in requests %}
      {% if not req.trip %}
      <tr>
        <td><a href="{% url 'view-request' pk=req.id %}">{{ req.id }}</a></td>
        <td>{{ req.user.username }}</td>
        <td>{{ req.date_of_journey }}</td>
        <td>{{ req.time_of_journey }}</td>
        <td>{{ req.request_type }}</td>
        <td>{{ req.description }}</td>
        <td>{{ req.status }}</td>
        <td>{{ req.source}}</td>
        <td>{{ req.destination}}</td>
        <td>{{ req.is_return_journey}}</td>
          <td><a href="{% url 'new-trip' %}" class="btn btn-primary">Approve</a>
          </td>
      </tr>
      {% endif %}
  {% endfor %}
  <tr>

  </tr>
  </tbody>
   </table>
     {% if not requests %}
          <p align="center">No data to display</p>
      {% endif %}

    <p align="center">Active Bookings</p>
   <table class="table">
    <thead>
   <tr>
       <th>Request #</th>
       <th>User</th>
       <th>Date of journey</th>
       <th>Time ofjourney</th>
       <th>Type</th>
       <th>Description</th>
       <th>Request status</th>
       <th>Source</th>
       <th>Destination</th>
       <th>Round Trip</th>
       <th>Actions</th>
   </tr>
   </thead>
   <tbody>
  {%  for req in requests %}
      {% if req.trip %}
      <tr>
        <td><a href="{% url 'view-request' pk=req.id %}">{{ req.id }}</a></td>
        <td>{{ req.user.username }}</td>
        <td>{{ req.date_of_journey }}</td>
        <td>{{ req.time_of_journey }}</td>
        <td>{{ req.request_type }}</td>
        <td>{{ req.description }}</td>
        <td>{{ req.status }}</td>
        <td>{{ req.source}}</td>
        <td>{{ req.destination}}</td>
        <td>{{ req.is_return_journey}}</td>
          <td><a href="{% url 'view-trip' pk=req.trip.id%}" class="btn btn-success">View</a>
          </td>
      </tr>
      {% endif %}
  {% endfor %}
  <tr>

  </tr>
  </tbody>
   </table>
     {% if not requests %}
          <p align="center">No data to display</p>
      {% endif %}
{% endblock %}