{%  extends 'base.html' %}
{% load static %}
{% block css %}
     <link rel="stylesheet" href="{% static "css/table.css" %}">
{% endblock %}

{% block content %}
  <div class="container ">
       <a href="#" class="btn btn-primary">Add new</a>
       <table class="table table-striped  table-hover table-bordered">
          <thead>
               <tr>
                   <th>Trip ID</th>
                   <th>Request ID</th>
                   <th>Status</th>
                   <th>Vehicle</th>
                   <th>Driver</th>
                   <th>Start distance</th>
                   <th>End distance</th>
                   <th>Rate</th>
                   <th>Fare</th>
                   <th>Actions</th>
               </tr>
          </thead>
           <tbody>
              {%  for trip in trips %}
                  <tr>
                      <td><a href="{% url 'cancel-trip' pk=trip.id %}">{{ trip.id }}</a></td>
                      <td><a href="{% url 'view-request' pk=trip.request.id %}">{{ trip.request.id }}</a></td>
                      <td>{{ trip.status }}</td>
                      <td>{{ trip.vehicle}}</td>
                      <td>{{ trip.driver}}</td>
                      <td>{{ trip.start_distance}}</td>
                      <td>{% if trip.end_distance %} {{ trip.end_time }}{% else %}---{% endif %}
                      </td>
                      <td>{{ trip.rate}}</td>
                      <td>{{ trip.rate}}</td>
                  </tr>
                  {% endfor %}
                  {% if not trips %}
                        <tr>
                            <td colspan="10" style="text-align: center">No Data to display</td>
                        </tr>
                  {% endif %}
              </tbody>
        </table>
  </div>

{% endblock %}
<html>
<body>
<table>
    {%  for trip in trips %}
    <tr>
    <td>{{ trip.request.id }}</td>
    <td>{{ trip.status }}</td>
    <td>{{ trip.vehicle }}</td>
    <td>{{ trip.driver }}</td>
    <td>{{ trip.start_distance }}</td>
    <td>{{ trip.end_distance }}</td>
    <td>{{ trip.rate }}</td>
    <td>{{ trip.fare }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
