{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/card.css" %}">
    <style>
        table.table-bordered > tbody > tr > td{
            border:2px solid white;
            text-align: left;
            max-width: 150px;
            overflow: auto;
        }
    </style>
{% endblock %}
{% block content %}
      <div class="container card col-lg-3 col-md-6 col-sm-8 col-12" >
        <div class="card-block">
                <span class="category">Vehicle </span>
                <span class="data">{{ trip.vehicle }} </span>
            </p>
            <p>
                <span class="category">Driver </span>
                <span class="data">{{ trip.driver }}</span>
            </p>
            <p>
                <span class="category">Rate </span>
                <span class="data">{{ trip.rate }}</span>
            </p>
            <p>
                <span class="category">Status </span>
                <span class="data">{{ trip.status }}</span>
            </p>
            <a href="{% url 'cancel-trip' pk=trip.id %}" class="btn btn-primary">Cancel</a>
        </div>
    </div>
{% endblock %}
