{% extends 'base.html' %}
{% block css %}
<style>
    .container {
        padding: 0px;
        margin: 0 auto;
    }
.table {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
.table-bordered > tr{
  border:2px solid blue;
}
.table-bordered th,
.table-bordered td{
  border:1px solid blue;
}
</style>
{% endblock %}
{% block content %}
    <a href="{% url 'view-trip' pk=trip.pk %}">Trip     {{ trip.id }}</a>
    <a href="{% url 'view-request' pk=trip.request.pk %}">Request     {{ trip.request.id }}</a>
    <p>vehicle  {{ trip.vehicle }}</p>
    <p>Driver   {{ trip.driver }}</p>
    <p>Rate     {{ trip.rate }}</p>
    <p>Status     {{ trip.status }}</p>
    <a href="{% url 'cancel-trip' pk=trip.id %}" class="btn btn-primary">Cancel</a>
{% endblock %}
