{% extends 'base.html' %}
{% block css %}
<style>
    .container {
        padding: 0px;
        margin: 0 auto;
    }
.table {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
.table-bordered > tr{
  border:2px solid blue;
}
.table-bordered th,
.table-bordered td{
  border:1px solid blue;
}
</style>
{% endblock %}
{% block content %}
    <p>Trip id{{ trip.id }}</p>
    <p>Start time{{ trip.start_time }}</p>
    <p>Source {{ trip.request.source }}</p>
    <p>Destination {{ trip.request.destination }}</p>
    <p>Vehicles:
        {%  for i in trip.vehicles.all %}
        {{ i }}
        {% endfor %}
    </p>
     <p>Drivers:
        {%  for i in trip.drivers.all %}
        {{  i }}
        {% endfor %}
    </p>
    <a href="{% url 'update-trip' pk=trip.id %}" class="btn btn-primary">Edit</a>
{% endblock %}
