{% block content %}
    <table style="border: 1px solid black">
        <tr><th style="border: 1px solid black; padding: 2px;">Bill id</td><td style="border: 1px solid black; padding: 2px;"> {{ bill.id }}</td></tr>
        <tr><th style="border: 1px solid black; padding: 2px;">User: </td> <td style="border: 1px solid black; padding: 2px;">{{ bill.request.user }}</td></tr>
        <tr><th style="border: 1px solid black; padding: 2px;">Date of journey</td><td style="border: 1px solid black; padding: 2px;"> {{ bill.request.start_date }}</td></tr>
        <tr><th style="border: 1px solid black; padding: 2px;">Start time</td> <td style="border: 1px solid black; padding: 2px;">{{ bill.request.start_time }}</td></tr>
        <tr><th style="border: 1px solid black; padding: 2px;">Source</td> <td style="border: 1px solid black; padding: 2px;">{{ bill.request.source }}</td></tr>
        <tr><th style="border: 1px solid black; padding: 2px;">Destination</td><td style="border: 1px solid black; padding: 2px;"> {{ bill.request.destination }}</td></tr>
        <tr><th style="border: 1px solid black; padding: 2px;">Distance travelled</td> <td style="border: 1px solid black; padding: 2px;">{{ bill.total_distance }}</td></tr>
        <tr><th style="border: 1px solid black; padding: 2px;">Fare</td> <td style="border: 1px solid black; padding: 2px;">{{ bill.total_fare }}</td></tr>
    </table>
{% endblock %}
