
<body>
    <div class="container card col-lg-3 col-md-6 col-sm-8 col-12" >
        <div class="card-block">
           <table class="table  table-hover table-bordered">
            <tr><td>Datetime of generation </td> <td>{{ bill.datetime_of_generation }} </td></tr>
            <tr><td>Bill ID  </td> <td>{{ bill.id }} </td></tr>
            <tr><td>Request Type </td> <td>{{ bill.request.request_type }} </td></tr>
            <tr><td>Total distance </td> <td>{{ bill.total_distance }} </td></tr>
            <tr><td>Trips:</td></tr>
            {%  for trip in request.trips %}
                <tr>
                    <td>Trip Id: {{ trip.id }}</td>
                    <td>Vehicle: {{ trip.vehicle }}</td>
                    <td>Driver: {{ trip.driver }}</td>
                </tr>
            {% endfor %}
            <tr><td>Fare </td> <td>{{ bill.total_fare }}</td></tr>
           </table>
        </div>
    </div>
</body>

