<html>
<body>
<strong>Hi, {{ request.user }}!</strong>
<p>We have received your booking request with following details:</p>
           <table style="border: 2px inset black">
                <tr>
                    <th style="border:1px solid black; text-align: left">Type of request:</th>
                    <td style="border:1px solid black;">{{ request.request_type|default_if_none:"---" }}</td>
                </tr>
               <tr>
                    <th style="border:1px solid black; text-align: left">Source:</th>
                    <td style="border:1px solid black;">{{ request.source|default_if_none:"---" }}</td>
               </tr>
               <tr>
                    <th style="border:1px solid black; text-align: left">Start Date:</th>
                    <td style="border:1px solid black;">{{ request.start_date|default_if_none:"---"}}</td>
               </tr>
               <tr>
                    <th style="border:1px solid black; text-align: left">Start Time:</th>
                    <td style="border:1px solid black;">{{ request.start_time|default_if_none:"---" }}</td>
                </tr>
               <tr>
                    <th style="border:1px solid black; text-align: left">Destination:</th>
                    <td style="border:1px solid black;">{{ request.destination|default_if_none:"---" }}</td>
                </tr>
               <tr>
                    <th style="border:1px solid black; text-align: left">End Date:</th>
                    <td style="border:1px solid black;">{{ request.end_date|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid black; text-align: left">Expected End Time:</th>
                    <td style="border:1px solid black;">{{ request.expected_end_time|default_if_none:"---" }}</td>
                </tr>

                <tr>
                    <th style="border:1px solid black; text-align: left">Round trip?</th>
                    <td style="border:1px solid black;">{{ request.is_round_trip|default_if_none:"---"}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid black; text-align: left">Status</th>
                    <td style="border:1px solid black;">{{ request.status|default_if_none:"---" }}</td>
                </tr>
            </table>
        </div>
    </div>
<p>We'll inform once the status of your request changes</p>
</body>
</html>