<html>
<body>
<p>Trip with ID <strong>{{ trip.id }}</strong>
    and following details was cancelled by the admin.
</p>
<table class="container card col-lg-3 col-md-6 col-sm-8 col-12" >
            <tr>
                <td class="category">Date of trip: </td>
                <td class="data">{{ trip.request.start_date }} </td>
            </tr>
            <tr>
                <td class="category">Reporting place for driver: </td>
                <td class="data">{{ trip.request.source }} </td>
            </tr>
            <tr>
                <td class="category">Reporting time for driver: </td>
                <td class="data">{{ trip.request.start_time }} </td>
            </tr>
            <tr>
                <td class="category">Vehicle: </td>
                <td class="data">{{ trip.vehicle.registration_no }} </td>
            </tr>
            <tr>
                <td class="category">Driver: </td>
                <td class="data">{{ trip.driver.name }}</td>
            </tr>
            <tr>
                <td class="category">Contact no. of driver:</td>
                <td class="data">{{ trip.driver.phone }}</td>
            </tr>  
</table>
<p>Please contact <strong>admin</strong> for any queries </p>
</body>
</html>

