<html>
<body>
<p>Trip Created for request ID <strong>{{ trip.request_id }}</strong></p>
<table style="border: 2px inset black" >
        <div class="card-block">
            <tr>
                <td style="border:1px solid black;">Date of trip: </td>
                <td style="border:1px solid black;">{{ trip.request.start_date }} </td>
            </tr>
            <tr>
                <td style="border:1px solid black;">Reporting place for driver: </td>
                <td style="border:1px solid black;">{{ trip.request.source }} </td>
            </tr>
            <tr>
                <td style="border:1px solid black;">Reporting time for driver: </td>
                <td style="border:1px solid black;">{{ trip.request.start_time }} </td>
            </tr>
            <tr>
                <td style="border:1px solid black;">Vehicle: </td>
                <td style="border:1px solid black;">{{ trip.vehicle.registration_no }} </td>
            </tr>
            <tr>
                <td style="border:1px solid black;">Driver: </td>
                <td style="border:1px solid black;">{{ trip.driver.name }}</td>
            </tr>
            <tr>
                <td style="border:1px solid black;">Contact no. of driver:</td>
                <td style="border:1px solid black;">{{ trip.driver.phone }}</td>
            </tr>
        </div>
</table>
</body>
</html>