<html>
<body>
<p>Trip with ID <strong>{{ trip.id }}</strong>
    and following details was cancelled by the admin.
</p>
<table style="border: 1px solid black" >
            <tr>
                <td style="border: 1px solid black; font-weight: bold">Date of trip: </td>
                <td style="border: 1px solid black">{{ trip.request.start_date }} </td>
            </tr>
            <tr>
                <td style="border: 1px solid black; font-weight: bold">Reporting place for driver: </td>
                <td style="border: 1px solid black">{{ trip.request.source }} </td>
            </tr>
            <tr>
                <td style="border: 1px solid black; font-weight: bold">Reporting time for driver: </td>
                <td style="border: 1px solid black">{{ trip.request.start_time }} </td>
            </tr>
            <tr>
                <td style="border: 1px solid black; font-weight: bold">Vehicle: </td>
                <td style="border: 1px solid black">{{ trip.vehicle.registration_no }} </td>
            </tr>
            <tr>
                <td style="border: 1px solid black; font-weight: bold">Driver: </td>
                <td style="border: 1px solid black">{{ trip.driver.name }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; font-weight: bold">Contact no. of driver:</td>
                <td style="border: 1px solid black">{{ trip.driver.phone }}</td>
            </tr>  
</table>
<p>Please contact <strong>admin</strong> for any queries </p>
</body>
</html>

